#portfolio .portfolio-btn:hover{
    color: #ffffff !important;
}

.portfolio-link a{
    text-decoration: none;
    border: 2px solid #d63031;
    border-radius: 3px;
    padding: 15px 20px;
    color: #ffffff;
    font-weight: 500;
}