.nav-brand{
    font-size: 50px;
    font-weight: 700;
}
.nav-brand-color{
    color: #d63031;
}
.nav-brand-middle-color{
    color: #ffffff;
}

.navbar-toggle-custom{
    background-color: #d63031;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggle-icon{
    background-color: #d63031;
    color: #111A28;
    font-size: 25px;
    margin: 3px 5px;

}

.nav-item{
    color: #ffffff !important;
    margin-left: 25px;
    font-weight: 500;
}
.nav-item:hover{
    color: #d63031 !important;
}

.nav-resume{
    border: 2px solid #d63031;
    border-radius: 4px;
    padding: 5px 18px !important;
}
